.App{
  font-family: sans-serif;
  text-align: center;
}

.search-input{
  width: 500px;
  padding: 5px;
}
.results-container{
  width: 500px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  height: 500px;
  overflow-y: scroll;
}

.result{
  display: block;
  padding: 5px;
}
.result:hover{
  background-color: beige;
  cursor: pointer;
}