.App{
  font-family: sans-serif;
  text-align: center;
}

.outer{
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.inner{
background-color: green;
padding: 1px;
text-align: right;
transition: 0.5s ease-in;
}